<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand">Manager Student</a>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="[ '/home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/about']">About</a>
            </li>
            <li class="nav-item dropdown">

                <a class="nav-link" [routerLink]="[ '/student']"><span matBadge="{{lengthStudent}}" matBadgeOverlap="false">Student</span></a>
            </li>
            <li class="nav-item dropdown">

                <a class="nav-link" [routerLink]="[ '/login']"><span >Login</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link btn btn-success text-light mr-3" (click)="logout()"><span >Logout</span></a>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>